html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

#mainPage{
    width: 100%;
    height: 100%;
}

.page{
    width: 100%;
    height: 100%;
}

/*index.hmtl*/
#root{
    width: 100%;
    height: 100%;
}

#root nav{
    padding: 30px;
    display: flex;
    justify-content: end;
    gap: 20px;
    font-size: 2rem;
}


/*Canvas*/
.input{
    position: absolute;

    display: flex;
    flex-direction: column;
    text-align: start;
    width: 7%;
    margin: 20px;

    z-index: 3;
}
.input * {
    width: 100%;
    font-size: 2rem;

    margin-bottom: 10px;
}

.chalkboard{
    position: absolute;
    display: block;
    border: 3px solid black;

    left: 12.5%;
    z-index: 2;
}

.chalkboard:hover{
    cursor: crosshair;
}

/*Signup page:*/
.signup form{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;
    gap: 10px;

    margin: 0 auto;

    font-size: 2rem;
}

.signup form input{
    font-size: 2rem;
}

.signup form button{
    font-size: 2rem;
}

/*Log In page:*/
.login form{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;
    gap: 10px;

    margin: 0 auto;

    font-size: 2rem;
}

.login form input{
    font-size: 2rem;
}

.login form button{
    font-size: 2rem;
}

nav {
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    width: 30%;

    padding: 50px 20px;
    margin: 0 auto;

    font-size: 3rem;
}
